<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project5">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iii"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iii"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project5">
        <service
            android:name=".MyForegroundService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".MyIntentService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".modify" />
        <activity android:name=".search" />
        <activity android:name=".display" />
        <activity android:name=".delete" />
        <activity android:name=".insert" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>